html {
  height: 100%;
  width: 100%;
  margin:0;
}

body {
  height: 100%;
  width: 100%;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex; /* sets the display property of the body element to flex */
  flex-direction: column;
  justify-content: center; /* horizontally centers the child elements of the body element */
  align-items: center; /* vertically centers the child elements of the body element */
}